@charset "utf-8";

/**
 * カメラ背景
 */
.my-camera {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 主軸 */
    align-items: center; /* 交差軸 */
    background-color: rgba(0,0,0,0.5);
}

/**
 * プレビュー
 */
.my-camera video {
    border: solid 1px gray;
    display: block;
}

/**
 * キャプチャ画像
 */
.my-camera canvas {
    border: solid 1px gray;
    display: none;
}

/**
 * ボタン
 */
.my-camera .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center; /* 主軸 */
    align-items: center; /* 交差軸 */
}

.my-camera button {
    font-size: 100%;
    margin: 0.5em;
}

.my-camera .capture {
    font-size: 200%;
    border-radius: 0.8em;
}
